body{
    
    font-family: "Open Sans", sans-serif;
    color: #020202;
    margin: 0;
    background-image: url("images/faded-office.png");
    background-size: cover;

}

/* @font-face {
    
    src: url("OpenSans.ttf");
    font-family: agencyfont;
} */

#hero {
    
    text-align: left;
    padding: 30px 0px 100px 50px;
    
}

.button {
    
    border: none;
    background: #0ea5e9;
    padding: 15px 30px;
    color: white;
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    
}

#heading {
    width: 330px;
    font-weight: 800;
    font-size: 50px;
}

#secondheading {
    width: 330px;
    font-weight: 600;
    font-size: 21px;
}

.underline {
    
    border-bottom: 5px solid #0ea5e9;
}

